<!-- <app-notes [mode]="'notes'" [type]="type" [itemId]="itemId"></app-notes> -->

<ng-container *ngIf="type == 'task'; else revisionTemplate">
  <app-notes [mode]="'notes'" [type]="type" [itemId]="itemId"></app-notes>
</ng-container>
<ng-template #revisionTemplate>
  <nz-tabset [nzSelectedIndex]="0" [nzShowPagination]="false">
    <nz-tab nzTitle="Feedback">
      <ng-template nz-tab>
        <div class="notes-container">
          <app-notes
            [mode]="'feedback'"
            [itemId]="itemId"
            [type]="type"
            [skipAttachment]="true"
          ></app-notes>
        </div>
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Notes">
      <ng-template nz-tab>
        <div class="notes-container">
          <app-notes
            [mode]="'notes'"
            [itemId]="itemId"
            [type]="type"
          ></app-notes>
        </div>
      </ng-template>
    </nz-tab>
  </nz-tabset>
</ng-template>

<!--  (onAttachClick)="getImageData($event)" -->
