.group {
  color: #ffd538;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.group-line {
  padding-top: 20px;
  border-top: 1px solid rgba($color: #ffffff, $alpha: 0.3);
}
// .form-control {
//     display: block;
//     width: 100%;
//     height: calc(1.875rem + 2px);
//     padding: 0.375rem 0.75rem;
//     font-size: 0.75rem;
//     line-height: 1.5;
//     color: #ffffff;
//     background-color: transparent;
//     background-clip: padding-box;
//     border: 1px solid #ced4da;
//     border-radius: 0.25rem;
//     transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
// }

// .form-control:focus {
//     color: #ffffff;
//     border-color: #3be582;
//     outline: 0;
//     box-shadow: none;
// }

// input.form-control {
//     border: none;
//     border-bottom: 1px solid #3be582;
//     padding: 0;
//     height: 25px;
//     font-size: 14px;
//     border-radius: 0;
// }
