<!-- <div class="common-header">
    <div class="d-flex justify-content-between db-links">
        <div class="d-flex justify-content-between">
            <div class="db-link">User Time Sheet</div>
        </div>
    </div>
</div> -->

<div class="common-header-new">
    <div class="d-flex justify-content-between db-links">
        <div class="d-flex justify-content-between">
            <div class="db-link">User Time Sheet</div>
        </div>
    </div>
</div>
<div>
    <app-artist-time-sheet></app-artist-time-sheet>
</div>
<!-- <div [ngSwitch]="timeSheetType">
    <ng-container *ngSwitchCase="'artist'">
        <app-artist-time-sheet></app-artist-time-sheet>
    </ng-container>
    <ng-container *ngSwitchCase="'studio'">
        <app-studio-time-sheet></app-studio-time-sheet>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <h1>Nothing to show</h1>
    </ng-container>
</div> -->