<div class="table-wrapper lg-pad item-list pl-0" *ngIf="isDataReady">
  <div class="row">
    <div class="col-md-12 px-0">
      <div
        class="table-header-panel-db d-flex justify-content-between align-items-center"
      >
        <div class="quick-filter last">
          <span>Shows</span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="quick-filter hand last">
            <span *ngIf="isSearching">
              <nz-input-group [nzSuffix]="suffixTemplate">
                <input
                  style="height: 20px; width: 600px;"
                  type="text"
                  nz-input
                  [(ngModel)]="searchPattern"
                  (keyup.enter)="searchDetails()"
                  placeholder="Type search text"
                />
              </nz-input-group>

              <ng-template #suffixTemplate>
                <i
                  nz-icon
                  nz-tooltip
                  class="ant-input-clear-icon"
                  nzTheme="fill"
                  nzType="close-circle"
                  (click)="clearSearch()"
                ></i>
              </ng-template>
            </span>
            <span *ngIf="!isSearching" (click)="searchHandler()">
              <span>
                <app-icon-picker
                  class="qf-icon"
                  iconType="search"
                ></app-icon-picker>
              </span>
              <span class="quick-filter-text">Search</span>
            </span>
          </div>
        </div>
      </div>

      <ngx-datatable
        #myTable
        style="min-width: 100%; width: 100%; min-height: 200px !important;"
        [style.height]="getTableHeight()"
        class="material striped expandable fullscreen"
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [scrollbarV]="true"
        [scrollbarH]="true"
        [virtualization]="false"
        [externalSorting]="true"
        [externalPaging]="true"
        [loadingIndicator]="isLoading"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        (page)="setPage($event)"
        (sort)="onSort($event)"
      >
        <ngx-datatable-column
          *ngFor="let col of selectedTableColumns"
          [name]="col.displayName"
          [width]="getColWidth(col.name)"
          [sortable]="col.sortable"
        >
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-row="row"
            let-value="value"
          >
            <div [ngSwitch]="col.name">
              <span *ngSwitchCase="'thumbnail'">
                <div class="edit-wrapper">
                  <div class="img-panel table-thumb">
                    <app-image [url]="row.thumbnail"></app-image>
                  </div>
                </div>
              </span>

              <span *ngSwitchCase="'showName'">
                <div class="d-flex justify-content-start">
                  <span
                    class="pad-right like"
                    [class.link]="!isReadOnly"
                    [title]="getTitle(row)"
                    (click)="likeHandler(row)"
                    ><i
                      nz-icon
                      [nzType]="'star'"
                      [nzTheme]="getIconTheme(row)"
                    ></i
                  ></span>
                  <span class="pad-right">|</span>
                  <p
                    class="pad-right"
                    [title]="row[col.name]"
                    class="text-truncate"
                  >
                    {{ row[col.name] }}
                  </p>
                </div>
              </span>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-footer>
          <ng-template
            ngx-datatable-footer-template
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset"
            let-isVisible="isVisible"
          >
            <div class="page-count">
              <nz-form-item>
                <nz-form-control>
                  <nz-select
                    style="width: 75px;"
                    nzPlaceHolder="Select Page Size"
                    [(ngModel)]="selectedPageSize"
                    (ngModelChange)="setPageSize()"
                  >
                    <nz-option
                      *ngFor="let option of pageSizeOptions"
                      [nzLabel]="option"
                      [nzValue]="option"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <datatable-pager
              [pagerLeftArrowIcon]="'datatable-icon-left'"
              [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'"
              [pagerNextIcon]="'datatable-icon-skip'"
              [page]="curPage"
              [size]="pageSize"
              [count]="rowCount"
              [hidden]="!(rowCount / pageSize > 1)"
              (change)="table.onFooterPage($event)"
            >
            </datatable-pager>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>
</div>
