<!-- <div class="row login-div">
  <router-outlet></router-outlet>
</div> -->
<router-outlet></router-outlet>
<!-- <div class="row login-div">
  <div
    class="login-Panel"
    [ngStyle]="{ 'height.px': loginPanelheight }"
    (window:resize)="onResize()"
  >
    <div class="row top-login">
      <div class="col logo-text">Track-it</div>
      <div class="col">
        <span class="float-right version-text">Version 1.0.0</span>
      </div>
      <nz-divider></nz-divider>
    </div>
    <div class="middle-login">
      <router-outlet></router-outlet>
    </div>
    <div class="bottom-login">
      <div class="row login-fixed-button-one">
        <button nz-button nzType="link">
          <span class="icon-div"
            ><i nz-icon nzType="arrow-right" nzTheme="outline"></i
          ></span>
          Request to resend activation credentials
        </button>
      </div>
      <div class="row login-fixed-button-two">
        <button nz-button nzType="link">
          <span class="icon-div"
            ><i nz-icon nzType="arrow-right" nzTheme="outline"></i
          ></span>
          Try track it free for an entire month
        </button>
      </div>
    </div>
  </div>
</div> -->
