<form
  *ngIf="isDataReady"
  class="form-panel"
  nz-form
  [formGroup]="dataForm"
  (ngSubmit)="submitHandler()"
  autocomplete="off"
>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="showId">Show Name</nz-form-label>
    <nz-form-control
      *ngIf="!disableShowSelect"
      nzErrorTip="Please provide your input!"
    >
      <nz-select
        id="showId"
        formControlName="showId"
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Select Show"
        [nzDisabled]="disableShowSelect"
        (ngModelChange)="showChangeHandler()"
      >
        <!-- [nzDisabled]="!isValidArr(shows) || disableShowSelect" -->
        <nz-option
          *ngFor="let show of shows"
          [nzLabel]="show.showName"
          [nzValue]="show.id"
        ></nz-option>
      </nz-select>
    </nz-form-control>
    <nz-form-control *ngIf="disableShowSelect">
      <input readonly class="read-only" nz-input [value]="showName" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>Episode Name</nz-form-label>
    <nz-form-control>
      <nz-select
        id="episodeName"
        formControlName="episodeId"
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Select Episode Name"
      >
        <!-- [nzDisabled]="!isValidArr(episodes)" -->
        <nz-option
          *ngFor="let episode of episodes"
          [nzLabel]="episode.episodeName"
          [nzValue]="episode.id"
        >
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="sequenceName">Sequence Name</nz-form-label>
    <nz-form-control [nzErrorTip]="iNameTpl">
      <input
        id="sequenceName"
        formControlName="sequenceName"
        nz-input
        [maxLength]="nameMaxLength"
        placeholder="Sequence Name"
      />
      <ng-template #iNameTpl let-control>
        <ng-container *ngIf="control.hasError('pattern')"
          >This pattern is not allowed!</ng-container
        >
        <ng-container *ngIf="control.hasError('required')"
          >Name is required!</ng-container
        >
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>Sequence Description</nz-form-label>
    <nz-form-control>
      <input
        id="description"
        formControlName="description"
        nz-input
        [maxLength]="descMaxLength"
        placeholder="Sequence Description"
      />
    </nz-form-control>
  </nz-form-item>
</form>
<div *ngIf="isDataReady" class="submit-btn-parent">
  <button nz-button nzType="primary" (click)="submitHandler()">
    {{ btnName }}
  </button>
</div>

<!-- <pre style="color: greenyellow">{{ sequenceOutCopy | json }}</pre> -->
